*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(194, 148, 103);
}
#tabella{
    width: 600px;
    height: 600px;
    border: 2px solid black;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr); /* 4 colonne di uguale larghezza */
    grid-template-rows: repeat(4, 1fr);
    gap: 150px; /* Spazio tra gli elementi */
    background-color: #c6a664;
}

.celle{
    font-size: 100px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    position: absolute;
    display: flex;
    margin: 0px;
    transition: top 0.2s ease, left 0.2s ease;
    animation: appari 0.2s ease-out forwards; 
}

.laterali{
    height: 120px;
    width: 90px;
    background-color: brown;
    border-radius: 10px;
    border: 2px solid black;
}

.centrali{
    height: 58px;
    width: 120px;
    background-color: brown;
    border-radius: 10px;
    border: 2px solid black;
}

.extras{
    margin: auto;
}

.poteri{
    margin-top: 20px;
    width: 130px;
    height: 35px;
    background-color: rgb(167, 101, 101);
    border-radius: 12px;
    border: 1px solid black;
}
#titolo{
    align-items: center;
    text-align: center;
}
#main{
    align-items: center;
    text-align: center;
}

#vs{
    height: 50px;
    align-content: center;
    margin-bottom: 10px;
    background-color: rgb(196, 138, 116);
    border-radius: 12px;
    border: 1px solid black;
}
#pulsanti{
    display: flex;
}

#tabpulsanti{
    margin: auto;
}

#extras{
    display: flex;
}

#punteggio{
    text-align: right;
}
#timer{
    border-radius: 12px;
    text-align: left;
}

#vs{/*sistemare colori*/
    border-radius: 20px;
    font-size: 26px;
}

#reload{
    width: 130px;
    height: 35px;
    background-color: brown;
    border-radius: 12px;
    border: 1px solid black;
}

@keyframes appari {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
