*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(194, 148, 103);
}

img{
    align-content: center;
    background-color: white;
}

.celle{
    font-size: 100px;
    width: 143px;
    height: 143px;
    border: 2px solid black;
    position: absolute;
    display: flex;
    padding: 2px;
    transition: top 0.2s ease, left 0.2s ease;
    animation: appari 0.2s ease-out forwards;
    background-color: white;
    overflow: hidden;
    margin: auto;
}

.linee{
    width: 148px;
    height: 148px;
    border: 1px solid black;
    display: flex;
    align-items: center; /* Centra il contenuto verticalmente */
    justify-content: center; /* Centra il contenuto orizzontalmente */
}

.laterali{
    height: 120px;
    width: 90px;
    background-color: brown;
    border-radius: 10px;
    border: 2px solid black;
}

.centrali{
    height: 58px;
    width: 120px;
    background-color: brown;
    border-radius: 10px;
    border: 2px solid black;
}

.extras{
    margin: auto;
}

.poteri{
    margin-top: 20px;
    width: 130px;
    height: 35px;
    background-color: rgb(122, 160, 52);
    border-radius: 12px;
    border: 1px solid black;
}

.tmax{
    margin: auto;
    align-content: center;
}

.divimg{
    margin: auto;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(167, 133, 101);
}
.imglegg{
    align-items: left;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
}

.plegg{
    text-align: center;
}

#legenda{
    margin-top: 30px;
    display: flex;
}

#titolo{
    align-items: center;
    text-align: center;
}
#main{
    align-items: center;
    text-align: center;
}

#vs{
    height: 50px;
    align-content: center;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid black;
}
#pulsanti{
    display: flex;
}

#diverr{
    margin-top: 20px;
    display: flex;
}

#messerr{
    border: 2px solid black;
    border-radius: 12px;
    padding: 6px;
    margin: auto;
    background-color: #c6a664;
}

#tabpulsanti{
    margin: auto;
}

#extras{
    display: flex;
}

#punteggio{
    text-align: right;
}
#timer{
    border-radius: 12px;
    text-align: left;
}

#vs{/*sistemare colori*/
    border-radius: 20px;
    font-size: 26px;
}

#tabella{
    width: 600px;
    height: 600px;
    border: 2px solid black;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
    background-color: #c6a664;
    display: grid;
}

#reload{
    width: 130px;
    height: 35px;
    background-color: brown;
    border-radius: 12px;
    border: 1px solid black;
}

#sopra{
    display: flex;
    margin: 15px;
}

#tmax{

    width: 130px;
    height: 35px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
    background-color:  brown;
}
#sotto{
    display: flex;
}
#gioca{
    margin: auto;
    width: 130px;
    height: 35px;
    background-color: brown;
    border-radius: 12px;
    border: 2px solid black;
}

@keyframes appari {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
